
.uv-low {
    background-color: #558B2F;
    color: white;
}

.uv-mod {
    background-color: #F9A825;
    color: black;
}

.uv-high {
    background-color: #EF6C00;
    color: white;
}

.uv-v-high {
    background-color: #B71C1C;
    color: white;
}

.uv-extr {
    background-color: #6A1B9A;
    color: white;
}

#uv-tag {
    min-width: 2rem;
}

li {
    cursor: pointer;
}
/* #country-code {
    width: 2rem;
} */

input[type=submit] {
    padding: 0px;
    margin: 0px;
    border: 0px;
}